h1 {
	color: blue;
}
body {
	background-color: lightgreen; 
	text-align: center;
	font-family: "lucida conosle", monospace;	
	font-size: 18px
}
a{
    color: hotpink; 
}
/* visited link */
a:visited {
	color: green;
}
/*mouse over link*/
a:hover{
	color: purple;
}